.header {
  background-color: var(--teal-nine);
  color: white;
  display: flex;
}

.header-left {
  display: flex;
  align-items: center;
  
  gap: 1rem;
  padding: 0rem 1rem;
  flex: 4;
}

.header-left > h1 {
  background-color: white;
  color: var(--teal-ten);
  padding: 1rem;
  border-radius: 100%;
}

.header-left-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
  max-height: 70px;
  max-width: 220px;
}

.header-left-wrapper > form > * {
  min-width: 160px;
}

.header-right {
  flex: 1;
  padding: .5rem 1rem;
}


/* Description */

.bg-color-desc {
  min-height: 5rem;
  background-color: var(--teal-one);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.description {
  font-size: 13px;
}